@*<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("72rubla", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Link", "List", "Ware",new { area =""}, new { @class="navbar-brand"})
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />

    <title>72 rubla</title>


    <style>
    </style>
</head>
<body>
    <div class="container">
        <div class="top-nav">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-auto">
                <img class="logo-image" width="70px" src="~/Content/Images/Logo.png" />
                </div>
                <div class="col-md-auto">
                    <ul class="top-nav_menu">
                        <li>@Html.ActionLink("Головна", "List", "Ware", new { area = "" }, new { @class = "" })</li>
                        <li>@Html.ActionLink("Про компанію", "About", "Home", new { area = "" }, new { @class = "" })</a></li>
                        <li>@Html.ActionLink("Контакти", "Contacts", "Home", new { area = "" }, new { @class = "" })</li>
                        <li>@Html.ActionLink("Admin", "Index", "Admin", new { area = "" }, new { @class = "" })</li>
                        <li>@Html.ActionLink("Register", "Register", "Account", new { area = "" }, new { @class = "" })</li>
                        <li>|</li>
                        <li>@Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "" })</li>
                    </ul>
                </div>
                <div class="col-md-auto">@Html.Action("Summary", "Cart")</div>
            </div>
        </div>        
    </div>

    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-3">
                <div class="left-sidebar">
                    <div id="categories" class="">
                        @Html.Action("Menu", "Nav")
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="content">
                    
                        @RenderBody()
                    
                </div>
            </div>
        </div>
    </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Bondar</p>
        </footer>
</body>
</html>